<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加用户</title>
    <link rel="stylesheet" href="../../utils/LayUI/css/layui.css" media="all">
    <link rel="stylesheet" href="userList.css">
    <link rel="stylesheet" href="addUser.css">

    <script src="../../utils/LayUI/layui.js"></script>
    <script src="../../js/response.js"></script>
    <script src="addUser.js"></script>
</head>
<body>
    <div class="solid">
        <div class="title"><h3>添加新用户</h3></div>
        <form class="layui-form">
            <div class="layui-form-item account">
                <label class="layui-form-label">登录账号：</label>
                <div class="layui-input-block account1">
                <input type="text" name="account" lay-verify="title" autocomplete="off" placeholder="请输入登录账号..." class="layui-input" id="userAcount">
                </div>
            </div>
            <div class="layui-form-item username">
                <label class="col-sm-2 layui-form-label">姓名：</label>
                <div class="col-sm-10 layui-input-block username1">
                    <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入姓名..." class="layui-input" id="userName">
                </div>
            </div>
            <div class="layui-form-item permissions" >
                <label class="layui-form-label">选择角色：</label>
                <div class="layui-input-block" id="management"></div>
            </div>
        </form>

        <div class="layui-form-item submit">
            <div class="layui-input-block">
                <button class="layui-btn" id="submit">立即提交</button>
                <button class="layui-btn layui-btn-primary" id="reset">重置</button>
                <a class="layui-btn layui-btn-normal" href="userList.html">返回上一页</a>
            </div>
        </div>
    </div>

</body>
</html>