<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>配置管理-数据上传配置</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/data.css">
		<!--<link rel="stylesheet" href="utils/flat-ui/flat-ui.css">-->
    </head>
    <body>
		<div class="headerTop"></div>
        <div class="container">
			<div class="row content">
				<div class="col-xs-3 sidebar left_nav" name="topNavBasis_1">
					<ul class="nav nav-sidebar yY_left">
						<li><a href="index.html">词库版本管理</a></li>
						<li><a href="service_type.html">服务模块管理</a></li>
						<li><a href="functionalAdaptation.html">车型模块管理</a></li>
						<li class="left_nav_choose"><a class="left_nav_choose_ys" href="data.html">全局配置管理</a></li>
					</ul>
				</div>

				<div class="col-xs-9 main">
					<div style="width: 100%; text-align: center;font-size: 16px;margin-top: 10px">该网页以弃用，请切到新版本网页</div>
					<!--<div class="shadowcolor">-->
						<!--<div class="onleft">数据上传开关配置</div>-->
    					<!--<a id="backPage" class="dataBack" href="javascript:history.go(-1)">返回上一页</a>-->
					<!--</div>-->
					<!--<div class="form-group buttonsizefirst back">-->
						<!--<div class="outside col-sm-offset-1">-->
							<!--<div>-->
								<!--<div class="inputBox">-->
									<!--<ul>-->
										<!--<li>-->
											<!--<div class="buttonsize labelsize">-->
												<!--<lable for="time">网络请求时间间隔：</lable>-->
												<!--<input type="text" class="form-control" id="netWork" name="time" >*10(单位为分钟)-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
									<!--&lt;!&ndash;<ul>&ndash;&gt;-->
										<!--&lt;!&ndash;<li>&ndash;&gt;-->
											<!--&lt;!&ndash;<div class="buttonsize labelsize config-remind-div">&ndash;&gt;-->
												<!--&lt;!&ndash;<lable class="config-remind-lable" for="time">云端配置提醒的条数：</lable>&ndash;&gt;-->
												<!--&lt;!&ndash;<input type="text" class="form-control config-remind-input" id="configRemind" name="time" >&nbsp;&nbsp;(条)&ndash;&gt;-->
											<!--&lt;!&ndash;</div>&ndash;&gt;-->
										<!--&lt;!&ndash;</li>&ndash;&gt;-->
									<!--&lt;!&ndash;</ul>&ndash;&gt;-->
									<!--<ul>-->
										<!--<li>-->
											<!--<div class="buttonsize dataUp" >-->
												<!--<label>-->
													<!--<input type="checkbox" value="" class="betweensize">数据上传总开关-->
												<!--</label>-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
									<!--<ul>-->
										<!--<li>-->
											<!--<div class="buttonsize dataUser">-->
												<!--<label>-->
													<!--<input type="checkbox" value="" class="betweensize">用户话术开关-->
												<!--</label>-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
									<!--<ul>-->
										<!--<li>-->
											<!--<div class="buttonsize triangularBeast">-->
												<!--<label>-->
													<!--<input type="checkbox" value="" class="betweensize">三角兽聊天开关-->
												<!--</label>-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
									<!--<ul>-->
										<!--<li>-->
											<!--<div class="buttonsize dataVoice">-->
												<!--<label>-->
													<!--<input type="checkbox" value="" class="betweensize">用户自定义语音信息开关-->
												<!--</label>-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
									<!--<ul>-->
										<!--<li>-->
											<!--<div class="buttonsize dataPoi">-->
												<!--<label>-->
													<!--<input type="checkbox"value="" class="betweensize">位置信息开关-->
												<!--</label>-->
											<!--</div>-->
										<!--</li>-->
										<!--<li>|</li>-->
										<!--<li>-->
											<!--<div class="buttonsize labelsize">-->
												<!--<lable for="time">位置信息上传周期：</lable>-->
												<!--<input type="text" class="form-control" id="dataTime" name="time"  >(单位为分钟)-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
									<!--<ul>-->
										<!--<li>-->
											<!--<div class="buttonsize dataPush">-->
												<!--<label>-->
													<!--<input type="checkbox" value="" class="betweensize">推送开关-->
												<!--</label>-->
											<!--</div>-->
										<!--</li>-->
										<!--<li>-->
											<!--|-->
										<!--</li>-->
										<!--<li>-->
											<!--<div class="buttonsize labelsize">-->
												<!--<lable for="time">每天推送消息上限：</lable>-->
												<!--<input type="text" class="form-control" id="messadeNum" name="time" >(单位为次)-->
											<!--</div>-->
										<!--</li>-->
										<!--<li>-->
											<!--<div class="buttonsize labelsize">-->
												<!--<lable for="time">每天消息推送的时间间隔：</lable>-->
												<!--<input type="text" class="form-control" id="timeInterval" name="time" >*10(单位为分钟)-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
									<!--&lt;!&ndash; 云端配置提醒的条数 &ndash;&gt;-->
									<!--<ul>-->
										<!--<li>-->
											<!--<div class="buttonsize dataConfigRemindQuantity">-->
												<!--<label>-->
													<!--<input type="checkbox" value="" class="betweensize">云端配置开关-->
												<!--</label>-->
											<!--</div>-->
										<!--</li>-->
										<!--<li>|</li>-->
										<!--<li>-->
											<!--<div class="buttonsize labelsize config-remind-div">-->
												<!--<lable for="time" class="config-remind-lable">云端配置提醒条数：</lable>-->
												<!--<input type="text" class="form-control config-remind-input" id="configRemindQuantity" name="configRemindQuantity"  >&nbsp;&nbsp;(条)-->
											<!--</div>-->
										<!--</li>-->
									<!--</ul>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="warning"></div>-->
							<!--<div class="buttonsize ">-->
								<!--<button type="button" class="btn btn-info submitsize">确认提交</button>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				</div>
			</div>
		</div>
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="alertSuccess">
		  	<div class="modal-dialog modal-sm" role="document">
		  		<div class="modal-content">
			      	<div class="modal-body">
			      	</div>
		  		</div>
		 	</div>
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/data.js"></script>
		<script src="js/common.js"></script>
    </body>
</html>
