<nav class="navbar navbar-inverse navbar-fixed-top" id="topHeader">
    <div class="container">
        <div class="navbar-header yY_top_logo">
            <a class="logo_word" href="index.html">智能语音平台 </a>
            <span id="springProfilesActiveEnum"></span>
            <br>
            <span><a href="pages/index.html">切换新版本</a></span>
        </div>
        <div class="collapse navbar-collapse yY_top_left" id="bs-example-navbar-collapse1" role="navigation">
            <ul class="nav navbar-nav yY_top_nav">
                <li><a href="dataAnalysis.html">数据报表</a></li>
                <li><a href="index.html">配置管理</a></li>
                <li><a href="pushManagement.html">推送管理</a></li>
                <li><a href="userManagement.html">系统管理</a></li>
                <li><a href="talkCharts.html">数据统计图</a></li>
            </ul>
        </div>
        <div class="yY_top_right">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse1" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-right yY_top_ps">
                <li class="dropdown">您好，
                    <a id="loginUserName" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="personalAccount.html">个人中心</a></li>
                        <li role="separator" class="divider"></li>
                        <li><button id="loginOut" type="button" class="btn btn-danger">退&nbsp;&nbsp;出</button></li>
                    </ul>
                </li>
                <li id="date_now"></li>
            </ul>
        </div>
    </div>
</nav>
<script src="js/header.js"></script>