<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据统计图-话术总数分析统计</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/data.css">
</head>
<body>
<div class="headerTop"></div>
<div class="container">
    <div class="row content">
        <div class="col-xs-3 sidebar left_nav" name="topNavBasis_4">
            <ul class="nav nav-sidebar yY_left">
                <li><a href="talkCharts.html">话术统计图形分析</a></li>
                <li><a href="recognitionRate.html">统计话术识别率</a></li>
                <li><a href="serviceRate.html">service占比统计图</a></li>
                <li class="left_nav_choose"><a class="left_nav_choose_ys" href="rawTextTotal.html">话术总数分析统计</a></li>
                <li><a href="userStatistics.html">用户统计图</a></li>
            </ul>
        </div>
        <div class="col-xs-9 main">
            <div class="originalData">
                <div class="searchTitle">
                    <h4>每月话术总数统计图</h4>
                    <a id="backPage" href="javascript:history.go(-1)">返回上一页</a>
                </div>
                <form class="form-horizontal">
                    <div class="form-group serviceList formQuery">
                        <label for="rawTextService" class="inputName1 control-label">服务类型：</label>
                        <select name="rawTextService" id="rawTextService" class="originalSelect selectpicker blurType" title="请选择服务类型..." data-live-search="true"  >
                        </select>
                    </div>
                    <p>
                        <button id="rawTextServiceBtn" type="button" class="btn btn-info">查&nbsp;&nbsp;询</button>
                    </p>

                </form>
            </div>
            <div class="form-group buttonsizefirst back">
                <div class="statistical col-sm-offset-1">
                    <div id="rawTextServiceChart" style="width: 1000px;height:400px; margin:50px auto 0;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/common.js"></script>
<script src="js/rawTextTotal.js"></script>
</body>
</html>