<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据统计图-service占比</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/data.css">
</head>
<body>
<div class="headerTop"></div>
<div class="container">
    <div class="row content">
        <div class="col-xs-3 sidebar left_nav" name="topNavBasis_4">
            <ul class="nav nav-sidebar yY_left">
                <li><a href="talkCharts.html">话术统计图形分析</a></li>
                <li><a href="recognitionRate.html">统计话术识别率</a></li>
                <!--<li class="left_nav_choose"><a class="left_nav_choose_ys" href="serviceRate.html">service占比统计图</a></li>-->
                <!--<li><a href="rawTextTotal.html">话术总数分析统计</a></li>-->
                <li><a href="userStatistics.html">用户统计图</a></li>
            </ul>
        </div>
        <div class="col-xs-9 main">
            <div class="originalData">
                <div class="searchTitle">
                    <h4>service占比统计图</h4>
                    <a id="backPage" href="javascript:history.go(-1)">返回上一页</a>
                </div>
                <form class="form-horizontal">
                    <div class="form-group date form_datetime formQuery" data-date-format="yyyy-mm-dd hh:ii:ss p" data-link-field="dtp_input1">
                        <label class="inputName1 control-label">查询时间段：</label>
                        <input type="text" id="conditiontimeStart" readonly class="form-control originalTime" placeholder="起始时间">
                        <span class="lineTime">-</span>
                        <input type="text" id="conditiontimeEnd" readonly class="form-control originalTime" placeholder="截止时间">
                    </div>
                    <p>
                        <button id="queryRate" type="button" class="btn btn-info">查&nbsp;&nbsp;询</button>
                    </p>

                </form>
            </div>
            <div class="form-group buttonsizefirst back">
                <div class="statistical col-sm-offset-1">
                    <!--<table class="table">-->
                        <!--<thead>-->
                        <!--<tr class="table_title">-->
                            <!--<th><div>正确话术</div></th>-->
                            <!--<th><div>错误话术</div></th>-->
                            <!--<th><div>话术总数</div></th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody id="totalNum">-->
                            <!--<tr class="active"></tr>-->
                            <!--<tr class="active"></tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                    <div id="serviceRate" style="width: 1000px;height:700px; margin:50px auto 0;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/common.js"></script>
<script src="js/serviceRate.js"></script>
</body>
</html>