<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>配置管理-服务模块管理</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/base.css">
    </head>
    <body>
		<div class="headerTop"></div>
		<div class="container">
			<div class="row content">
				<div class="col-xs-3 sidebar left_nav" name="topNavBasis_1">
					<ul class="nav nav-sidebar yY_left">
						<li><a href="index.html">词库版本管理</a></li>
						<li class="left_nav_choose"><a class="left_nav_choose_ys" href="service_type.html">服务模块管理</a></li>
						<li><a href="functionalAdaptation.html">车型模块管理</a></li>
						<li><a href="data.html">全局配置管理</a></li>
					</ul>
				</div>
				<div class="col-xs-9 main">
					<div class="searchData">
						<button type="button" class="btn add_btn" data-toggle="modal" data-target=".bs-example-modal-lg" id="addServiceType">添加服务类型</button>
						<form class="form-search">
      						<input type="text" class="input-medium search-query" id="searchType" placeholder="请输入要查询的服务类型名称...">
      						<button type="button" class="btn" id="searchTypeBtn">查询</button>
    					</form>
    					<a id="backPage" href="javascript:history.go(-1)">返回上一页</a>
					</div>
					<div class="table-responsive main_table">
						<table class="table table-striped">
							<thead>
								<tr class="table_title">
									<th><div class="wordType">服务类型</div></th>
									<th><div class="username">创建人</div></th>
									<th><div class="date_time">创建时间</div></th>
									<th><div class="operation">操作</div></th>
								</tr>
							</thead>
							<tbody id="serviceType">
								
							</tbody>
						</table>
					</div>
					<!-- 分页 -->
					<nav aria-label="Page navigation"  class="page_navigation">
						<ul class="pagination" id="page">
							
						</ul>
						<span id="skip">
							跳转到第
							<input id="skipPage" type="text" value="" />
							页
							<button id="skipBtn" type="button">确定</button>
						</span>
						<span id="num_pages"></span>
						<span id="num_lists"></span>
					</nav>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addServiceModalLabel" id="modalST" data-backdrop="static" data-keyboard="false">
  			<div class="modal-dialog modal-lg" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title" id="myModalLabel">添加服务类型</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form class="form-horizontal" onsubmit="return false;">
		        			<div class="form-group change_group">
		        				<label for="service_type" class="col-sm-2 control-label inputName1">服务类型：</label>
		        				<div class="col-sm-10 inputText1">
		        					<input type="text" class="form-control" id="service_type" name="service_type" placeholder="请输入服务类型...">
		        				</div>
		        			</div>
		        		</form>
	        			<div class="alert alert-warning alert-dismissible fade in" role="alert"></div>
		      		</div>
		      		<div class="modal-footer">
		      			<div class="form-group change_group add_Button">
        					<button type="submit" class="btn btnAdd" id="addService">添加</button>
	        			</div>
		      		</div>
		    	</div>
		  	</div>
		</div>
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="alertSuccess">
		  	<div class="modal-dialog modal-sm" role="document">
		  		<div class="modal-content">
			      	<div class="modal-body">
			      	</div>
		  		</div>
		 	</div>
		</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/bootstrap-paginator.js"></script>
		<script src="js/service_type.js"></script>
		<script src="js/common.js"></script>
    </body>
</html>