 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>配置管理-词库版本管理</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/bootstrap-select.min.css">
    </head>
    <body>
	<div class="headerTop"></div>
		<div class="container">
			<div class="row content">
				<div class="col-xs-3 sidebar left_nav" name="topNavBasis_1">
					<ul class="nav nav-sidebar yY_left">
						<li class="left_nav_choose"><a class="left_nav_choose_ys" href="index.html">词库版本管理</a></li>
						<li><a href="service_type.html">服务模块管理</a></li>
						<li><a href="functionalAdaptation.html">车型模块管理</a></li>
						<li><a href="data.html">全局配置管理</a></li>
					</ul>
				</div>
				<div class="col-xs-9 main">
					<p class="main-top">
						<button type="button" id="addLexicon" class="btn add_btn" data-toggle="modal" data-target="#identifier1">添加词库</button>
						<a id="backPage" href="javascript:history.go(-1)">返回上一页</a>
					</p>
					<div class="table-responsive main_table">
						<table class="table table-striped">
							<thead>
								<tr class="table_title">
									<th><div class="version_1">词库版本</div></th>
									<th><div class="wordType">文本类型</div></th>
									<th><div class="question">问题</div></th>
									<th><div class="anwser">答案</div></th>
									<th><div class="service_id">服务码</div></th>
									<th><div class="username">创建人</div></th>
									<th><div class="date_time">日期</div></th>
									<th class="operationBox"><div class="operation">操作</div></th>
								</tr>
							</thead>
							<tbody id="wordsList">
								
							</tbody>
						</table>
					</div>
					<nav aria-label="Page navigation" class="page_navigation">
						<ul class="pagination" id="page">
							
						</ul>
						<span id="skip">
							跳转到第
							<input id="skipPage" type="text" value="" />
							页
							<button id="skipBtn" type="button">确定</button>
						</span>
						<span id="num_pages"></span>
						<span id="num_lists"></span>
					</nav>
				</div>
			</div>
		</div>
		
		
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="addTypeModalLabel" id="identifier1" data-backdrop="static" data-keyboard="false">
		  	<div class="modal-dialog modal-lg" role="document">
		   		<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title" id="myModalLabel">添加词库</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form class="form-horizontal" id="addwords">
		        			<div class="form-group change_group">
		        				<label for="textType" class="col-sm-2 control-label inputName1">文本类型：</label>
		        				<div class="col-sm-10 inputText1">
		        					<select name="textType" id="textType" class="form-control selectpicker blurType" onchange="getResult()" data-style="btn-info"  title="请选择文本类型..." >
		        						
		        					</select>
		        				</div>
		        			</div>
		        			<div class="form-group change_group">
		        				<label for="question" class="col-sm-2 control-label inputName1" id="question-label">问题：</label>
		        				<div class="col-sm-10 inputText1">
									<p class="questionWord">输入问题时，请不要输入标点符号。</p>
		        					<input type="text" name="question" class="form-control" id="question" placeholder="请输入问题...">
		        				</div>
		        			</div>
		        			<div class="form-group change_group">
		        				<label for="answer" class="col-sm-2 control-label inputName1" id="answer-label">答案：</label>
		        				<div class="col-sm-10 inputText1">
		        					<textarea class="form-control answerTxt" name="answer" id="answer" rows="3" placeholder="请输入答案..."></textarea>
		        					<div class="retrieval"><ul></ul></div>
		        				</div>
		        			</div>
		        			<div class="form-group change_group">
		        				<label for="wordSviceId" class="col-sm-2 control-label inputName1">服务码：</label>
		        				<div class="col-sm-10 inputText1">
		        					<input type="text" name="wordSviceId" class="form-control" id="wordSviceId" disabled="disabled">
		        				</div>
		        			</div>
		        			<div class="form-group change_group">
		        				<label for="edition_word" class="col-sm-2 control-label inputName1">版本号：</label>
		        				<div class="col-sm-10 inputText1">
		        					<input type="text" name="edition_word" class="form-control" id="edition_word" disabled="disabled" placeholder="请输入版本号...">
		        					<input type="hidden" name="updateDescription" id="w_updateDescription">
		        				</div>
		        			</div>
		        		</form>
	        			<div class="alert alert-warning alert-dismissible fade in addAlert" role="alert"></div>
		      		</div>
		      		<div class="modal-footer">
		      			<div class="form-group change_group add_Button">
        					<button type="button" id="addwordsBtn" class="btn btnAdd">添加</button>
	        			</div>
		      		</div>
		    	</div>
		  	</div>
		</div>
		
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="reviseModalLabel" id="identifier2" data-backdrop="static" data-keyboard="false">
		  	<div class="modal-dialog modal-lg" role="document">
		   		<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title" id="myWordModalLabel">修改词库</h4>
		      		</div>
		      		<div class="modal-body">
		        		<form class="form-horizontal" id="xg_addWords">
		        			<div class="form-group change_group">
		        				<label for="textType_xg" class="col-sm-2 control-label inputName1">文本类型：</label>
		        				<div class="col-sm-10 inputText1">
		        					<select name="textType_xg" id="textType_xg" class="form-control selectpicker" data-style="btn-info" title="请选择文本类型..." >
		        					
		        					</select>
		        				</div>
		        			</div>
		        			<div class="form-group change_group">
		        				<label for="question_xg" class="col-sm-2 control-label inputName1">问题：</label>
		        				<div class="col-sm-10 inputText1">
		        					<input type="text" name="question_xg" class="form-control" id="question_xg" placeholder="请输入问题...">
		        				</div>
		        			</div>
		        			<div class="form-group change_group">
		        				<label for="answer_xg" class="col-sm-2 control-label inputName1">答案：</label>
		        				<div class="col-sm-10 inputText1">
		        					<textarea class="form-control answerTxt" name="answer_xg" id="answer_xg" rows="3" placeholder="请输入答案..."></textarea>
		        					<div class="retrieval"><ul></ul></div>
		        				</div>
		        			</div>
		        			<div class="form-group change_group">
		        				<label for="wordSviceId_xg" class="col-sm-2 control-label inputName1">服务码：</label>
		        				<div class="col-sm-10 inputText1">
		        					<input type="text" name="wordSviceId_xg" class="form-control" id="wordSviceId_xg" disabled="disabled">
		        				</div>
		        			</div>
		        			<div class="form-group change_group">
		        				<label for="edition_word_xg" class="col-sm-2 control-label inputName1">版本号：</label>
		        				<div class="col-sm-10 inputText1">
		        					<input type="text" name="edition_word_xg" class="form-control" id="edition_word_xg" disabled="disabled" placeholder="请输入版本号...">
		        					<input type="hidden" name="w_updateDescription_xg" id="w_updateDescription_xg">
		        				</div>
		        			</div>
		        		</form>
	        			<div class="alert alert-warning alert-dismissible fade in xgAlert" role="alert"></div>
		      		</div>
		      		<div class="modal-footer">
		      			<div class="form-group add_Button">
        					<button type="button" id="addwordsBtn_xg" class="btn btnAdd">修改</button>
	        			</div>
		      		</div>
		    	</div>
		  	</div>
		</div>
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="alertSuccess">
		  	<div class="modal-dialog modal-sm" role="document">
		  		<div class="modal-content">
			      	<div class="modal-body">
			      	</div>
		  		</div>
		 	</div>
		</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-select.min.js"></script>
	<script src="js/bootstrap-paginator.js"></script>
	<script src="js/getUrlParam.js"></script>
	<script src="js/wordMannagement.js"></script>
	<script src="js/common.js"></script>
    </body>
</html>