.addRole{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0px 0px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 7%;
}

.solid{
    width: 95%;
    box-shadow: 2px 2px 10px #909090;
    height: auto;
    border: 1px #ddd solid;
    border-radius: 4px;
    margin: 20px 10px 100px 30px;
}
.roleName{
    height: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #ddd dotted;
}

.roleLt{
    margin-left: 10px;
    width: 1310px;
}