<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建卡片页面</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.css">
    <!-- 引入Bootstrap-table样式 -->
    <link rel="stylesheet" href="../../utils/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="../../utils/bootstrap-table/bootstrap-editable.css">
    <link rel="stylesheet" href="newCard.css">

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/response.js"></script>
    <script src="../../js/getUrlParam.js"></script>
    <script src="newCard.js"></script>
    <!-- 引入Bootstrap-table js -->
    <script src="../../utils/bootstrap-table/bootstrap-table.js"></script>
    <script src="../../utils/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="../../utils/bootstrap-table/bootstrap-table-editable.js"></script>
    <script src="../../utils/bootstrap-table/bootstrap-editable.min.js"></script>
</head>
<body>
    <div class="col-md-12 div-table">
        <div class="head">
            <div class="cardNumber">新的卡片</div>
            <button class="search show" id="hideORsearch">隐藏/显示查询</button>
            <button class="search" onclick="javascript:history.back(-1)">返回上一页</button>
        </div>
        <input class="input"/>
    </div>
</body>
</html>