<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>仪表盘展示</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-theme.css">
    <link rel="stylesheet" href="add.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/zResize.js"></script>
    <script src="../../js/response.js"></script>
    <script src="add.js"></script>
</head>
<body>
    <div class="stage">
        <hr>
        <div class="head">
            <div class="describe">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">仪表盘2</a></li>
                    <li role="presentation"><input type="text" class="titleText" id="descrip" placeholder="描述"/></li>
                </ul>
            </div>
            <div class="resize" id="cards">
                <!--<div class="resize-div" >-->
                    <!--<div class="div-card-title">筛选Subtotal>41,计数, 以Created At (day),Created At</div>-->
                    <!--<div class="div-card-delete">-->
                        <!--<span class="glyphicon glyphicon-remove"></span>-->
                    <!--</div>-->
                    <!--<div class="div-card-content"></div>-->
                    <!--<div class="div-card-zoom">-->
                        <!--<span class="glyphicon glyphicon-fullscreen"></span>-->
                    <!--</div>-->
                    <!--<div class="div-card-x-title">Created At</div>-->
                <!--</div>-->
            </div>
            <div class="threeButton">
                <button type="button" class="btn add_Button1" id="addCard" data-toggle="modal" data-target="#myModal">添加</button>
                <button type="button" class="btn add_Button2" id="saveCard">保存</button>
                <button type="button" class="btn add_Button3" onclick="javascript:history.back(-1)">返回</button>
            </div>
        </div>
        <br />
        <div class="row" id="rows">
            <div class="col-md-1"></div>
        </div>
        <br />
        <div class="footer"></div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="header">
                    <h4 id="myModalLabel">选择一个卡片</h4>
                    <button type="button" class="cancel btn btn-default" data-dismiss="modal">取消</button>
                </div>
                <div id="cardNameTable" class="cardNameTable" ></div>
            </div>
        </div>
    </div>
    <div class="" id="">

    </div>

</body>
</html>